<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
    <title>Easy Admin Panel an Admin Panel Category Flat Bootstrap Responsive Website Template | Home :: w3layouts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Easy Admin Panel Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- Bootstrap Core CSS -->

    <link href="{{ asset('admin/css/bootstrap.min.css') }}" rel='stylesheet' type='text/css' />
    <!-- Custom CSS -->
    <link href="{{ asset('admin/css/style.css') }}" rel='stylesheet' type='text/css' />
    <!-- Graph CSS -->
    <link href="{{ asset('admin/css/font-awesome.css') }}" rel="stylesheet">
    <!-- jQuery -->
    <!-- lined-icons -->
    <link rel="stylesheet" href="{{ asset('admin/css/icon-font.min.css') }}" type='text/css' />
    <!-- //lined-icons -->
    <!-- chart -->
    <script src="{{ asset('admin/js/Chart.js') }}"></script>
    <!-- //chart -->
    <!--animate-->
    <link href="{{ asset('admin/css/animate.css') }}" rel="stylesheet" type="text/css" media="all">
    <script src="{{ asset('admin/js/wow.min.js') }}"></script>
    <script>
        new WOW().init();
    </script>
    <!--//end-animate-->
    <!----webfonts--->
    <link href='//fonts.googleapis.com/css?family=Cabin:400,400italic,500,500italic,600,600italic,700,700italic' rel='stylesheet' type='text/css'>
    <!---//webfonts--->
    <!-- Meters graphs -->
    <script src="{{ asset('admin/js/jquery-1.10.2.min.js') }}"></script>
    <!-- Placed js at the end of the document so the pages load faster -->

</head>

<body class="sticky-header left-side-collapsed"  onload="initMap()">
<section>
    <!-- left side start-->
    <div class="left-side sticky-left-side">

        <!--logo and iconic logo start-->
        <div class="logo">
            <h1><a href="index.html">Easy <span>Admin</span></a></h1>
        </div>
        <div class="logo-icon text-center">
            <a href="index.html"><i class="lnr lnr-home"></i> </a>
        </div>

        <!--logo and iconic logo end-->
        <div class="left-side-inner">

            <!--sidebar nav start-->
            <ul class="nav nav-pills nav-stacked custom-nav">
                <li class="active"><a href="index.html"><i class="lnr lnr-power-switch"></i><span>Dashboard</span></a></li>
                <li class="menu-list">
                    <a href="#"><i class="lnr lnr-cog"></i>
                        <span>Gestion Jardin</span></a>
                    <ul class="sub-menu-list">
                        <li><a href="grids.html">Ajouter Jardin</a> </li>
                        <li><a href="widgets.html">Liste Jardins</a></li>
                    </ul>
                </li>
                <li><a href="forms.html"><i class="lnr lnr-spell-check"></i> <span>Gestion Evenement</span></a></li>
                <li><a href="tables.html"><i class="lnr lnr-menu"></i> <span>Gestion Club</span></a></li>
                <li><a href="{{ path('transport_liste') }}"><i class="lnr lnr-pencil"></i> <span>Gestion Transports</span></a></li>

                <li><a href="codes.html"><i class="lnr lnr-pencil"></i> <span>Gestion Restoration</span></a></li>
                <li><a href="media.html"><i class="lnr lnr-select"></i> <span>Gestion Reclamation</span></a></li>

            </ul>
            <!--sidebar nav end-->
        </div>
    </div>



        {% block content %}

        {% endblock %}




    <footer>
        <p>&copy 2015 Easy Admin Panel. All Rights Reserved | Design by <a href="https://w3layouts.com/" target="_blank">w3layouts.</a></p>
    </footer>
    <!--footer section end-->

    <!-- main content end-->
</section>
{% block js %}


<script src="{{ asset('admin/js/jquery.nicescroll.js') }}"></script>
<script src="{{ asset('admin/js/scripts.js') }}"></script>
<!-- Bootstrap Core JavaScript -->
<script src="{{ asset('admin/js/bootstrap.min.js') }}"></script>

{% endblock %}
</body>
</html>


