{% extends "baseadmin.html.twig" %}




{% block content %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>


    <div class="container">
    <h1 class="mb-4" style="color: mediumvioletred " align="center" font-family="arial"> Nos Clus  </h1>
    <table border="1">
        <thead class="table-danger" align="center">

    <th>Jardin</th>
    <th>Contact</th>
    <th>Photo</th>
    <th>Nom</th>
    <th>Description</th>
    <th>Nombre DE Club</th>
    <th>Action</th>

        </thead>
    <tbody class="table-primary" align="center">
    {% for club in clubs %}
        <tr>
            <td>{{ club.jardin }}</td>
            <td>{{ club.contact }}</td>
            <td>{{ club.photo }}</td>
            <td>{{ club.nom }}</td>
            <td>{{ club.descp }}</td>
            <td>{{ club.nbAct }}</td>


           <td><a href="{{ path('club_supprimer',{'id':club.id}) }}"> <button class="btn btn-danger">Supprimer</button></a>
           <a href="{{ path('club_modifier',{'id':club.id}) }}"><button class="btn btn-warning">Modifier</button></a></td>


</tr>
{% endfor %}
</tbody>
</table>
    <a href="{{ path('club_ajouter') }}">   <button class="btn btn-primary">Ajouter</button></a>


</div>

{% endblock %}




